@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(81, 34, 179, 0.93) 0%, rgba(55, 237, 154, 1) 100%);
    position: relative;
    display: flex;
}

#menu {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    width: 375px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}


#menu .logo {
    display: flex;
    align-items: center;
    color: white;
    padding: 30px 0 0 30px;

}

#menu .logo img {
    width: 50px;
    margin-right: 15px;
}

#menu .items {
    margin-top: 40px;
}

#menu .items li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#menu .items li:nth-child(1) {
    border-left: 5px solid rgb(255, 255, 255);
}

#menu .items li i {
    color: rgb(145, 145, 145);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
    color: rgb(255, 255, 255);
}

#menu .items li a {
    text-decoration: none;
    color: rgb(145, 145, 145);
    font-weight: 300px;
    transition: 0.3s ease;
}

#interface {
    width: calc(100% - 300px);
    margin-left: 370px;
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
    padding: 0px 30px;
    position: fixed;
    width: calc(100% - 370px);
}

#interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
}

/*delete-boreder*/

#interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
}


#interface .navigation .search h3 {
    font-size: 14px;
    color: #fff;
}

#interface .navigation .search i {
    padding: 0px 15px 0 0;
    font-size: 25px;
    color: #fff;
}


/*User Profile*/
#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
}

/*delete-boreder*/

#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#interface .navigation .profile i {
    margin-left: 5px;
    font-size: 30px;
    color: #fff;
}

.n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

#menu-btn {
    display: none;
    color: #fff;
    font-size: 22;
    cursor: pointer;
}

/* Fin Menu*/

/*---------------------------------------------------*/

/* div_gen --- contenedor general*/
.div_gen {
    max-width: 700px;
    margin: auto;
    margin-top: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

/* titulos= h3*/
.div_gen .titulos {
    color: #fff;
    font-size: 25px;
}

.div_gen .img_model_1 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.div_gen .img_model_1 img {
    width: 210px;
    display: flex;
}


/*---------------------------------------------*/

/*Inicio del Formulario*/

.div_gen .formulario {
    max-width: 600px;
    margin: auto;
    margin-top: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.div_gen .formulario {
    padding: 45px;
}

.div_gen .formulario .alineacion {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.div_gen .formulario h2 {
    color: #fff;
    font-size: 18px;
    padding-right: 5px;
    align-items: center;
}

.div_gen .formulario input {
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    color: #000;
}

.div_gen .formulario input:hover {
    color: aquamarine;
    background-color: #7b7b7b;
}


.div_gen .formulario select{
    border-radius: 5px;
    padding-left: 5px;
}

.div_gen .formulario select:hover {
    color: aquamarine;
    background-color: #7b7b7b;
}

/* fin */
/*-------------------------------------------------*/

/*Inicio de las tablas*/

.div_gen .tabla_r {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.tabla_r {
    min-height: 0.1;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    .tabla_r {
        width: 100%;
        margin-bottom: 15px;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

.tabla_r > .table > thead > tr > th,
.tabla_r > .table > tbody > tr > td,
.tabla_r > .table > thead > tr > th,
.tabla_r > .table > tbody > tr > td{
    white-space: nowrap;
} 

.tabla_r img{
    max-width: 210px;
}
.tabla_r th, td{
    border: 2px solid #000;
    padding: 10px;
}

.tabla_r tr:hover{
    background-color: #7b7b7b;
    color: aquamarine;
}
.tabla_r table{
    background-color: #fff;
}


/*fin table*/
/*--------------------------------------------*/

.div_gen button{
    border-radius: 55px;
}

.div_gen button:hover{
    color: aquamarine;
    background-color: #7b7b7b;
}















/*no tocar*/

@media (max-width:2800px) {
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }

    #menu.active {
        left: 0px;
    }

    #menu-btn {
        display: initial;
    }

    #interface {
        width: 100%;
        margin-left: 0px;
        display: inline-block;
    }

    #menu.active~#interface {
        width: calc(100% -270px);
        margin-left: 270px;
        transition: 0.3s ease;
    }

    #interface .navigation {
        width: 100%;
    }

    /*
    .values {
        padding: 30px 0px 0px 30px;
        justify-content: flex-start;
    }

    .values .val-box {
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }*/

}

